* {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 50px;
}
form {
  margin-inline: auto;
}
.header {
  font-size: 20px;
  margin-inline: auto;
  padding: 10px 0px 10px 0px;
}
label {
  width: 100px;
  padding: 2px;
  display: inline-block;
}

input {
  max-width: 200px;
  height: 14px;
  font-size: 14px;
  margin-top: 5px;
}

#buttons {
  margin-left: 101px;
  margin-top: 15px;
}
#servers {
  text-align: center;
  width: 150px;
}
.center {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.align {
  margin-top: 15px;
}

.message {
  color: #cc0033;
  display: block;
  font-size: 14px;
  min-width: 200px;
  margin: 5px 0 0;
  padding-left: 36%;
}

.error .message {
  display: block;
}
#btn2 {
  margin-left: 8px;
}

.bton {
  padding: 2px;
  width: 60px;
}
